@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(/asssets//images/background.jpeg);
    height: 70vh;
    background-size: max(1200px, 100vw);
    position: inherit;
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 10px;
    background-color: rgb(35 35 35);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: #1c1710;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    padding: 3px 8px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}

.main input {

    padding: 7px 101px 8px 14px; 
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(70 69 66);
    color: white;
}
.first{
    display: flex;
    color: white;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    padding: 10px;
    align-items: center;
}
.secImg{
    position: relative;
}

.secImg img{
    width: 36vw;
    /* width: 30vw; */
    position: relative;
    z-index: 10;
    
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 5px;
    width: 545px;
    /* right: 0px; */
    overflow: hidden;
}
section.first > div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 34px 0px ;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
}
.video{
    width: 35vw;
    height: 25vh;
    right: 11vw;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}
.faqbox:hover{
    transition: rgb(65 65 65);
    background-color: rgb(65 65 65);
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    display: flex;
    background-color:rgb(45 45 45);
    padding: 24px;
    max-width: 80vw;
    margin:  10px auto;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
    height: 40vhsection;
}
.footer a{
    color: white;
    font-weight: 400;
    font-size: 14px;
} 
footer .question{
    padding: 34px 0px ;
}
.footer{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr  ;
    color: white;
   
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
